@model IEnumerable<JavaFlorist.Models.CheckOut>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciverPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloristLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloristEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloristPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloristAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BouquetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BouquetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BouquetPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BouquetQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BouquetBrief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloristLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloristEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloristPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloristAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BouquetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BouquetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BouquetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BouquetQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BouquetBrief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
